<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackhugo.floreria">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controllers.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <activity
            android:name=".Controllers.MenuActivity"
            android:label="Floreria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.LoginActivity"
            android:label="Floreria" />
        <activity
            android:name=".Controllers.RegistrarActivity"
            android:label="Floreria" />
        <activity android:name=".Controllers.FechaRegistroActivity"></activity>
    </application>

</manifest>